 
 /*
    pallette :
    noir = #1E0F1C
    rouge = #A7001E
    vert claire ( presque blanc) = #E2E9C0
    vert = #7AA95C
    brun = #955149
 */
 html{
    background-color:  #1E0F1C ;
    font-family: 'EB Garamond', serif;
 }

 .navBar{
    background-color: #A7001E;
    position: fixed;
    padding: 0.4em;
    width: 100%;
    border-bottom: 1px solid #E2E9C0 ;
    margin-left: 0;
    z-index: +1;
}
.navBar li {
    display: inline;
}
.navBar li a {
    text-decoration: none;
    color:#E2E9C0;
    font-weight: 800;
    font-size: 1.3em;
    padding: 0.4em ;
    text-transform: uppercase;
}
.navBar li a:focus {
    color: #1E0F1C;
    text-decoration: overline;
}
.navBar li a:hover{
    color: #1E0F1C;
    text-decoration: overline;
}
.bars {
    align-items: flex-end;
    padding-left: 90%;
    background-color: #A7001E;
    width: 100%;
    display: none;
    color:#1E0F1C;
}

/*index.html*/
header img {
    position:relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
header h1{
    padding-top: 3em;
    color: #E2E9C0 ;
    background-color: #1E0F1C;
    width: 12em;
    margin-left: auto;
    margin-right: auto;
}
form{
    position: absolute;
    display: inline-flex;
    top: 200px;
    left: 50%;
    padding: 0.5em;
    margin-top: 3em;
    width:auto;
    background-color:#1E0F1C;
    transform: translate(-50%, -50%);
    z-index: 0;
}
form input{
    padding: 1em;
    color:  #1E0F1C;
    font-size: 1em;
    font-weight: 800;
    font-family: 'EB Garamond', serif; 
}
form select {
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    font-weight: 800;
    padding:0.5em;
}
form button {
    background-color: #E2E9C0;
    border: none;
    font-size: 1em;
    padding: 0.8em;
    margin-left: 0.2em;
    border-radius: 3px;
}

h2{
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        color: #E2E9C0;
        font-family: 'EB Garamond', serif; 
        font-size: 2em;
        width: 8em; 
}
.culture-content{
    background-color: #A7001E;
    display: flex;
    padding: 1.5em;
  
}
.culture-content p{
    border-top: 1px solid #E2E9C0;
    border-bottom: 2px solid #E2E9C0;
    color:#E2E9C0;
    width:60%;
    padding: 2em;
    text-align:justify;
    vertical-align:baseline;
    font-size: 1.4em;
}
.culture-content img{
    position: relative;
    width: 40%;
    height: auto;
    object-fit: contain;
    padding-left: 1em;
}

.accomplishementsContent{
    background-color: #1E0F1C;
}
.accomplishementsContent ul{
    display: flex;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 3em;
    justify-content: center;
}
.accomplishementsContent ul li {
    padding : 3em;
    margin: 1em;
    width: 6em;
    font-size: 1.3em;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: #E2E9C0;
    background-color: #a7001fa3;
}
.accomplishementsContent ul li i{
    font-size:1.5em ;
    padding:1em;
    background-color: #1E0F1C;
    width: 1em;
    height: 1em;
    border-radius: 100px;
}
.accomplishementsContent ul li span{
    color: #1E0F1C;
    font-size: 2.5em;
    width: 100%;
    display: block;
}

footer{
    background-color: #A7001E;
    padding:0.4em;
    margin-top: 1em;
    bottom: 0px;
    width: 100%;
}
footer p{
    color: #E2E9C0;
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    width: 9em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer a{
    text-decoration: none;
    color:#1E0F1C ;
    font-style: italic;
    font-size: 1em;
}
footer a:hover{
    letter-spacing: 1.5px;
}
@media only screen and (max-width:643px){
    .culture-content img{
        display: none;
    }
    .culture-content p{
        width: 100%;
        margin: 0;
        padding: 0.2em;
        font-size: 1em;
    }
}
@media only screen and (max-width: 570px){
    form{
      padding: 3px !important;
      margin-top: 0.5em;
    }
    .navBar{
        padding:0.1em;
    }
    .navBar li {
        border-left: 1px solid #E2E9C0;
    }
    .navBar li a {
        font-size: 1em;
    }
    h1{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 472px){


    form{
        display: inline;
        margin-top:20%;
    }

    form button{
        float: right;
    }
}

/*apply.html*/
.applytitle{
    width: 4.6em;
}
.jobform{
    width: 100%;
    border: 2px solid transparent;
    display: inline-block;
    margin-top: 350px;
}
.jobform::before {    
    content: "";
    background-image: url('./media/textile-2918844_1920.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.jobform label{
    display: block;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 0.3em;
    color: #E2E9C0;
    border-bottom: 1px solid #E2E9C0;
    text-align: center;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}
.jobform label::before {    
    content: "";
    background-color: #A7001E;
    position: absolute;
    top: 0px;
    right: 20%;
    bottom: 0px;
    left: 20%;
    z-index: -1;
}
.jobform label input{
    padding: 0.3em;
    margin: 1em;
    border-radius: 3px;
    border: 1px dotted #E2E9C0;
    text-align: center;
}
.jobform button{
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 1.1em;
    display: block;
    background-color: #1E0F1C;
    color:#E2E9C0;
    padding: 0.5em;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
}
.jobform button:hover{
    background-color: #E2E9C0;
    color: #1E0F1C;
    letter-spacing: 2.5px;
}
@media only screen and (max-width: 570px){
   .jobform{
    margin-top: 320px;
    width:fit-content;
   }
}

/*contact.html*/
.contacttitle{
    width: 5.2em ;
}
.contactform{
    background-color: #A7001E;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    text-align: right;
    color: #E2E9C0;
    margin-top: 150px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 150px 250px;
    grid-template-rows: 50px 50px 150px 50px;
}
.contactform .name{
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}
.contactform .inputname{
    grid-column: 2;
    grid-row: 1;
    margin-top: 0.5em;
    padding-right: 2em;
}
.contactform .email{
    grid-column: 1;
    grid-row: 2;
    padding: 10px;

}
.contactform .inputemail{
    grid-column: 2;
    grid-row: 2;
    margin-top: 0.5em;
}
.contactform .message{
    grid-column: 1;
    grid-row: 3;
    padding: 10px;

}
.contactform textarea{
    grid-column: 2;
    grid-row: 3;
    margin-top: 0.5em;
    padding: 1em;
    color:  #1E0F1C;
    font-size: 0.8em;
    font-weight: 800;
    font-family: 'EB Garamond', serif; 
}
.contactform button{
    grid-column: 2;
    grid-row: 4;
    margin-top: 0.5em ;
    background-color: #1E0F1C;
    color: #E2E9C0;
    font-weight: 800;
    font-size: 1em;
}
.contactform button:hover{
    background-color: #E2E9C0;
    color: #1E0F1C;
    letter-spacing: 2.5px;
}
